<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Helper\Product\Flat\Indexer">
        <arguments>
            <argument name="flatAttributeGroups" xsi:type="array">
                <item name="custom_group_xmlfiles" xsi:type="string">custom_group_xmlfiles</item>
            </argument>
        </arguments>
    </type>
</config>