<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="routingtest" frontName="routingtest">
            <module name="Test_XmlFiles" />
        </route>
        <route id="customrout" frontName="customrout">
            <module name="Test_XmlFiles" />
        </route>
        <route id="second" frontName="second">
            <module name="Test_XmlFiles" />
        </route>
    </router>
</config>
